@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'Sanhayeop';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feeds {
    width: 100%;
    height: 100%;
    position: relative;
}

.feeds.fadeIn{
    animation: Opacity 1.6s ease-out forwards;
}

@keyframes Opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.feeds-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.feeds-grd {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.feeds-grd01 {
    background-color: #95E9D8;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(72px);
    width: 120%;
    aspect-ratio: 1/0.8;
    position: absolute;
    bottom: -10%;
    left: -50%;
}

.feeds-grd02 {
    background-color: #C8AE58;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(72px);
    width: 104%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 12%;
    right: -60%;
}

/*----------------콘텐츠---------------*/
.feeds-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/*-----------콘텐츠 : 제목-----------*/
.feeds-title-bg {
    background-color: #403D36;
    border-radius: 50%;
    opacity: 0.92;
    filter: blur(40px);
    width: 140%;
    aspect-ratio: 1/0.6;
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
}

.feeds-title-text {
    width: max-content;
    height: min-content;
    color: #95E9D8;
    font-family: "Sanhayeop";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.45;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
}

/*-----------콘텐츠 : 내용-----------*/
.feeds-feeds {
    width: 82%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    z-index: -1;
}

.feeds-feeds div {
    color: #7C5C5C;
    font-family: "Pretendard";
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: left;
    word-break: keep-all;
}

/*------------------feed-new 애니메이션------------------*/
.feed-new {
    width: 100%;
    height: min-content;
    position: absolute;

    top: 0;
    left: 0;
    color: #7C5C5C;
    font-family: "Pretendard";
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    word-break: keep-all;
}

.feed-new.appear {
    animation: appear 1.6s ease-out forwards;
    z-index: 2;
}

.feed-new.fixed {
    position: relative;
    transform: translateY(calc(var(--Height) - var(--drop) + var(--newH))) rotate(0deg);
    opacity: 1;
}

@keyframes appear {
    0% {
        transform: translateY(0) rotate(-8deg);
        opacity: 0;
    }

    100% {
        transform: translateY( calc(var(--Height) - var(--drop) + var(--newH))) rotate(0deg);
        opacity: 0.8;
    }
}





/*------------------feeds-prev & feeds-view------------------*/
.feeds-prev {
    width: 100%;
    height: min-content;
    position: absolute;
    bottom: 0;
}

.feeds-prev.appear {
    animation: pushing 1.6s ease-out forwards;

}

@keyframes pushing {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(calc(var(--newH) * 0.6));
    }

    100% {
        transform: translateY(calc(var(--newH)));
    }
}



.feeds-view {
    width: 100%;
    min-height: min-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    position: absolute;
    bottom: 0;
}

.feeds-scroll {
    width: 100%;
    min-height: min-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    position: absolute;
    bottom: calc(-1*min-content);
}

/*------------------피드 카드 UI----------------*/
.case01 {
    background-color: #C3EC3A;
    border-radius: 0 100px 100px 0;
    padding: 20px 44px 20px 24px;
}

.case02 {
    background-color: #A9F0B1;
    border-radius: 100px 0 0 100px;
    padding: 20px 24px 20px 44px;
}

.case03 {
    background-color: #FFD5FE;
    border-radius: 100px;
    padding: 20px 20px 20px 32px;
    text-align: center;
}

.case04 {
    background-color: #74B1EB;
    border-radius: 0 100px 100px 0;
    padding: 20px 44px 20px 24px;
}

.case05 {
    background-color: #F7A014;
    border-radius: 100px 0 0 100px;
    padding: 20px 24px 20px 44px;
}


/*-----------콘텐츠 : 높이 측정용-----------*/
.feeds-measure {
    border: 2px solid yellow;

    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column-reverse;

    position: absolute;
    visibility: hidden;
}