.loading {
    background-color: #140F0F;

    width: 100vw;
    height: 100vh;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------로딩 배경-----------*/

.loading-bg {
    width: 100%;
    height: 100%;

    position: absolute;
}

.loading-bg div{
    border: 1px solid yellow;

    width: 360px;
    aspect-ratio: 1/1; 
    
    border-radius: 170px;

    opacity: 0.5;
    filter: blur(64px);
}

.loading-gr01{
    background-color: #9BE5F2;
    
    position: absolute;
    left: -60%;
    bottom: -16%;
}


.loading-gr02{
    background-color: #A9F0B1;
    
    position: absolute;
    right: -76%;
    top: 50%;
    transform: translateY(-50%);
    
}


.loading-gr03{
    background-color: #A9F0B1;
    
    position: absolute;
    top: -28%;
    left: 50%;
    transform: translateX(-50%);
}




/*----------로딩 콘텐츠-----------*/
.loading-con {
    width: 40%;
    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.loading-logo{
    width: 24%;
    aspect-ratio: 1/1;

    background-image: url("../assets/img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.loading-text{
    color: #ADA992;

    font-family: 'Sanhayeop';
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}


/*----------폰트-----------*/
@font-face {
    font-family: 'Sanhayeop';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: lighter;
    font-display: swap;
}
